/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

*{
  margin:0;
  padding:0;
  width:100%;
  box-sizing:border-box;
}
html, body{
  background-image: url('../pics/web-development-concept-with-plexus-background-seo-website-app-design-digital-network-design_618588-1215.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
.card_course{
  display:grid;
  grid-template-columns:auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 40px;
  padding-left:50px;
}

.card_img{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.footer_main {
  display:flex;
  flex-direction:column;
  justify-content:end;
  align-content:end;
  width: 100%;
  float:bottom;
  margin-top:20px;
}
.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
